

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <div class="left-sideber">
              <div class="profile text-center ">
    
                 <h3> Admin Panal </h3>
                  
                <img src="https://powerpackelements.com/wp-content/uploads/2017/11/Team-memeber-01.png" style="height: 100px; width: 100px; object-fit: cover; border-radius: 50%;" alt="Profile Photo">
                 <div class="shop-ouner-infomation">
                    <h5> Bishsajit Baihnab </h5>
                    <h6>Shop Owner</h6>
                    <div class="social-media-followlink">
                        <ul>
                            <li><a href="#"> <i class="fa-brands fa-facebook"></i> </a></li>
                            <li><a href="#"> <i class="fa-brands fa-x-twitter"></i> </a></li>
                            <li><a href="#"> <i class="fa-brands fa-linkedin"></i> </a></li>
                            <li><a href="#"> <i class="fa-brands fa-square-instagram"></i> </a></li>
                            <li><a href="#"> <i class="fa-brands fa-github"></i> </a></li>
                           
                        </ul>
                    </div>
                 </div>
                <a href="/user" class="button-design mt-3">Create Admin <i class="fa-solid fa-user-pen"></i> </a>
                <a href="#" class="button-design mt-4">View Profile <i class="fa-solid fa-eye"></i> </a>

                <a href="/create"  class="button-design mt-4">Create Product <i class="fa-solid fa-user-pen"></i> </a>


                <a href="/shop" class="button-design mt-4">View Shop  <i class="fa-solid fa-shop"></i> </a>

              </div>
            </div>
        </div>
        <div class="col-md-10">
            <div class="right-container">
                 
                <div class="Product-detals-header">
               
                            <h3 style="background-color:#34495e ; text-align: center; padding: 5px 0px; color: white;"> Product Informtion DashBord  </h3>
                           
                </div>
 <!------------------------- product body------------------------>

                 <div class="product-table-boy">
                    <table class="table table-striped table-dark table-hover">

                        <thead>
                            <tr class="text-center">
                                <th>SI NO</th>
                                <th>Photo</th>
                                <th>Name</th>
                                <th>Color</th>
                                <th>Regular Price</th>
                                <th>Sale Price</th>
                                <th>Size</th>
                                <th>Weight</th>
                                <th>Brand</th>
                                <th>Action</th>
                            </tr>
                        </thead>

                        <tbody>
                         <% product.forEach((item , index) => { %>

                            <tr class="text-center align-middle">
                                <td><%= index + 1 %></td>
                                <td><img style="height: 50px; width: 50px; border-radius: 50%; object-fit: cover;" src="/product/<%= item.photo %>" alt=" product photo"></td>
                                <td><%= item.name %></td>
                                <td><%= item.colors %></td>
                                <td><%= item.regularPrice %> taka</td>
                                <td><%= item.salePrice %> taka</td>
                                <td><%= item.size %> Inch</td>
                                <td><%= item.weight  %> KG</td>
                                <td><%= item.brand %></td>
                                <td>
                                    <a class="btn btn-sm btn-primary" href="/single/<%= item.slug %>"> <i class="fa-solid fa-eye"></i> </a>
                                    <a class="btn btn-sm btn-warning" href="/edit/<%= item.id %>"> <i class="fa-solid fa-user-pen"></i> </a>
                                    <a class="btn btn-sm btn-danger" href="/delete/<%= item.id %>"> <i class="fa-solid fa-trash"></i> </a>
                                </td>
                            </tr>
                        
                          
                         <% }) %>
                        </tbody>
                    </table>
                 </div>

            </div>
        </div>
    </div>
</div>

   




